# الذكاء الاصطناعي
GROQ_API_KEY=org_01m1k9kqheejw8tf8mhb4gd15d
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_VISION_MODEL=qwen/qwen3.6-27b

# كلمة سر المالك
OWNER_SECRET=01141362626

# يتم توفيره تلقائياً عند إنشاء Vercel Blob Store وربطه بالمشروع
BLOB_READ_WRITE_TOKEN=ضع_توكن_Vercel_Blob_هن
